
/* utilies */ 

.vi-bg-dark{
    background-color: #2c3e50;
    color: white;
}

.vi-bg-green{
    background-color: #1abc9c;
    color: white;
}

.vi-bg-light-dark{
    background-color:#3b5975;
    color: white;
}

img{
    width: 100%;
}

.vi-avatar{
    max-width: 250px;
}

.vi-star-wing{
    display: inline-block;
    height: 2px;
    width: 20%;
    border: 1px solid white;
    border-radius: 2px;
}

.vi-star-wing-dark{
    display: inline-block;
    height: 2px;
    width: 20%;
    border: 1px solid #2c3e50;
    border-radius: 2px;
}

